:root {
  --primary-color: #00629B;
  --primary-table-color: #FFFFFF;
  --secondy-table-color: #E7F4F9;
  --secondy-color: #EFEFEF;
  --color-white: #FFFFFF;
  --button-action-color: #FF8200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima nova', sans-serif;
}

.screem {
  display: flex;
  flex-direction: column;
  background-color: var(--secondy-color);
  min-height: 100vh;
}

.screem .screenSecondary {
  flex: 1;
}