#containerSearch {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20rem;
  border: 1px solid #d6d6d6;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.05);
}

#containerSearch input {
  border: none;
  width: 100%;
  padding: 0.3rem;
  font-size: 1.2rem;
  color: #757272;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input::placeholder {
  color: #C4C4C4;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.tableUsers {
  margin-top: 1.5rem;
}

.contentTable {
  font-size: 1rem;
}

.itemsTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 3rem;
}

.itemTable {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTable {
  background-color: var(--primary-color);
  border-radius: 12px 12px 0 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-white);
}

.colorOne {
  background-color: var(--primary-table-color);

}

.colorTwo {
  background-color: var(--secondy-table-color);
}

.buttonAction {
  background-color: var(--button-action-color);
  width: 8rem;
  height: 2.4rem;
  flex-shrink: 0;
  border-radius: 12px;
  font-weight: normal;
  box-shadow: 2px 2px 5px 0px var(--button-action-color);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--color-white);
  color: #C4C4C4;
  max-width: 24rem;
  border-radius: 12px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.06);

  margin: 1rem auto;
  padding: 1rem;

  font-size: 12;
}